nav {
  background-color: $tertiary-color;
  z-index: 10;

  .navbar-brand {
    height: 6rem;
    max-width: 17.25rem;
    padding: 0px !important;

    .logo {
      padding-top: 20px;
      width: 6.25rem;
    }
  }
  .shopping-cart {
    .shopping-cart-icon {
      font-size: 2rem;
    }

    .badge {
      background-color: $cuaternary-color;
      border-radius: 1rem;
      color: $primary-color;
      font-size: 0.8rem;
      position: absolute;
      transform: translate(-8px, -6px);
    }

    .shopping-cart-icon {
      color: color($secondary-color);
    }
  }
}
