$base-color: #000;
$primary-color: #f6f5f3;
$secondary-color: #8d8c8c;
$tertiary-color: #fff;
$cuaternary-color: #d4aa63;
$quinary-color: #d2d2d2;
$quaternary-color: #a6a19a;
$octonary-color: #5a5a58;
$nonary-color: #65b57a;
$denary0color: #da6161;