@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "./core/variables";
@import "./core/mixin";
@import "./components//navbar";
@import "./components/product-container";
@import "./components/modal";
@import "./components/start-rating";
@import "./components/cart-details";

body{
    height: 100vh;
    font-family: 'Questrial', Helvetica, Arial, sans-serif;;
    margin: 0;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

h6,
button, 
span {
    font-family: 'Questrial', sans-serif;
}